:root{
    /*primary*/
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /*neutral*/
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
}

body{
    color: var(--grayish-blue);
    font-size: 15px;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1,h2{
    color: var(--very-dark-blue);
}

header{
    width: 75%;
    margin: auto;
    text-align: center;
}

.wrapper{
    margin: 5% 7%;
    height: 100vh;
}

.card-grid{
    display: flex;
  /* place items in column */
  flex-direction: column;
  /* center flex items horizontally */
  align-items: center;
  /* center all content vertically */
  justify-content: center;
  
}

.card{
    position: relative;
    border-radius: 2%;
    box-shadow: 0px 22px 54px -29px hsl(229, 6%, 66%);
    margin-bottom: 20px;
    padding: 5px 20px;
    padding-bottom: 80px;
    max-width: 290px;
}

.card-1{
    border-top: solid var(--cyan);
    grid-area: card-one;
}

.card-2{
    border-top: solid var(--red);
    grid-area: card-two;
}

.card-3{
    border-top: solid var(--orange);
    grid-area: card-three;
}

.card-4{
    border-top: solid var(--blue);
    grid-area: card-four;
}

.card img{
    position: absolute;
    right: 20px;
}


/* Media Query */
@media(min-width: 769px){

    .card-grid{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
         ". card-two ."
         "card-one card-two card-four"
         "card-one card-three card-four"
         ". card-three ."
    }

}